<?xml version="1.0" encoding="UTF-8"?>
<!-- sql구문을 설정하는 파일 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : DAO 파일명을 원칙으로 작성한다. mapper 파일이 여러개였을 때 namespace는 절대 중복되면 
	안된다. -->
<mapper namespace="com.smhrd.model.RouteDAO">
	<!-- resultType, parameterType : 패키지명까지 풀네임 작성 원칙 풀네임을 작성하고 싶지않다면 mybatis-config.xml에 
		별칭을 설정 -->
	<!-- <select id="select_koo" resultType="Route">
		select c.place_name, r.phrase, r.event_date, r.order_num 
		from inp_route r,  inp_people p,inp_place c
		where  r.inp_seq= p.inp_seq and r.place_seq = c.place_seq and p.inp_name= '김구'
        order by r.order_num;
	</select>
	<select id="select_ja" resultType="Route">
	select c.place_name, r.phrase, r.event_date, r.order_num 
		from inp_route r,  inp_people p,inp_place c
		where  r.inp_seq= p.inp_seq and r.place_seq = c.place_seq and p.inp_name= '김좌진'
        order by r.order_num;
	</select>
	<select id="select_bong" resultType="Route">
		select c.place_name, r.phrase, r.event_date, r.order_num 
		from inp_route r,  inp_people p,inp_place c
		where  r.inp_seq= p.inp_seq and r.place_seq = c.place_seq and p.inp_name= '윤봉길'
        order by r.order_num;
	</select>
	<select id="select_kwan" resultType="Route">
		select c.place_name, r.phrase, r.event_date, r.order_num 
		from inp_route r,  inp_people p,inp_place c
		where  r.inp_seq= p.inp_seq and r.place_seq = c.place_seq and p.inp_name= '유관순'
        order by r.order_num;
	</select>
	<select id="select_chang" resultType="Route">
		select c.place_name, r.phrase, r.event_date, r.order_num 
		from inp_route r,  inp_people p,inp_place c
		where  r.inp_seq= p.inp_seq and r.place_seq = c.place_seq and p.inp_name= '안창호'
        order by r.order_num;
	</select>
	<select id="select_joong" resultType="Route">
		select c.place_name, r.phrase, r.event_date, r.order_num 
		from inp_route r,  inp_people p,inp_place c
		where  r.inp_seq= p.inp_seq and r.place_seq = c.place_seq and p.inp_name= '안중근'
        order by r.order_num;
	</select>
	<select id="select_chae" resultType="Route">
		select c.place_name, r.phrase, r.event_date, r.order_num 
		from inp_route r,  inp_people p,inp_place c
		where  r.inp_seq= p.inp_seq and r.place_seq = c.place_seq and p.inp_name= '신채호'
        order by r.order_num;
	</select>
	<select id="select_dong" resultType="Route">
		select c.place_name, r.phrase, r.event_date, r.order_num 
		from inp_route r,  inp_people p,inp_place c
		where  r.inp_seq= p.inp_seq and r.place_seq = c.place_seq and p.inp_name= '윤동주'
        order by r.order_num;
	</select>
	 -->
	



</mapper>
 
 
 
 
